@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececec;
}

.container {
  /* height: 300px; */
  max-width: 1250px;
  width: 100%;
}

#category_score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #142d4c;
}

#loading {
  min-height: 200px;
  height: 100%;
  color: #ececec;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #385170;
}

#question_answer {
  background: #385170;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

#question_answer #question {
  font-size: 2rem;
  font-weight: bold;
  color: #9fd3c7;
}

#question_score {
  font-size: 1.5rem;
  color: #ececec;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: #ececec;
}

#ans_container {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

#ans_container input {
  height: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #9fd3c7;
  color: #9fd3c7;
}

#submitBtn {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ececec;
  color: #142d4c;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
