@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600&display=swap");

:root {
  --dark: #361d32;
  --light-dark: #543c52;
  --light-light: #f55951;
  --light: #edd2cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
}

.container {
  /* height: 300px; */
  margin: 0 2rem;
  max-width: 1250px;
  width: 100%;
}

#category_score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--dark);
}

#loading {
  min-height: 200px;
  height: 100%;
  color: var(--light);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: var(--light-dark);
  box-shadow: 0 16px 16px -8px var(--dark);
}

#question_answer {
  background: var(--light-dark);
  box-shadow: 0 16px 16px -8px var(--dark);
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

#question_answer #question {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-light);
}

#question_score {
  font-size: 1.5rem;
  color: var(--light);
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: var(--light);
}

#ans_container {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

#ans_container input {
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--light-light);
  color: var(--light-light);
  box-shadow: 0 10px 10px -5px var(--dark);
}

#submitBtn {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--light);
  color: var(--dark);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.2s;
}

#submitBtn:hover {
  box-shadow: 0 8px 8px -4px var(--dark);
}

@media only screen and (max-width: 650px) {
  #category_score {
    flex-direction: column;
    align-items: flex-start;
  }

  #submitBtn {
    margin-left: 0.3rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  #category_score {
    font-size: 1.3rem;
  }

  #loading {
    font-size: 1.5rem;
  }

  #question_answer #question {
    font-size: 1.5rem;
  }

  #question_score {
    font-size: 1.3rem;
  }

  #ans_container {
    font-size: 1.3rem;
  }

  #ans_container input {
    font-size: 1.3rem;
  }

  #submitBtn {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 470px) {
  #category_score {
    font-size: 1rem;
  }

  #loading {
    font-size: 1.3rem;
  }

  #question_answer #question {
    font-size: 1.3rem;
  }

  #question_score {
    font-size: 1rem;
  }

  #ans_container {
    font-size: 1rem;
  }

  #ans_container input {
    font-size: 1rem;
  }

  #submitBtn {
    font-size: 1rem;
  }
}
